<div class="mt-4">
    <form method="post" action="">
  <div class="mb-3">
    <label for="search-input" class="form-label">Nhap tu khoa</label>

    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
  <div class="form-group">
    <select name="gender" class="form-control" id="gnder-input">
      <option value="">Chon gioi tinh</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  </div>
  <button type="submit"  class="btn btn-primary">Search</button>
</form>
</div>
 